.deleteLink{
    cursor: pointer;
    color: #ff0000;
    font-size:20px;
}
.addLink{
    cursor: pointer;
    color: #ffffff;
    font-size:20px;
}
.label{
    margin-top: 1rem;
    font-weight: 500;
    color: #005f87;
}
.modal-title{
    color: #ffffff;;
}
.modal-header{
    background-color: #005f87;
}
thead{
    background-color: #005f87;
    color: #ffffff;
}
.listTitle{
    text-align: center;
    color:#005f87;
}